.sticky-wrapper {
  > * {
    z-index: 9 !important;
    position: absolute;
    width: 100%;
  }
}

.sticky-wrapper.is-sticky {
  > * {
    z-index: 999 !important;
  }
}

@include media(">tablet") {
  .admin-bar {
    .sticky-wrapper.is-sticky {
      > * {
        top: 32px !important;
      }
    }
  }
}

div.fl-col.menu_wrap {
  width: 100% !important;
}

#header_module {
  top: 0;
  // height: 100px;
}
