
@font-face {
    font-family: 'E3light';
    src: url('./assets/fonts/e3/e3_light-webfont.eot');
    src: url('./assets/fonts/e3/e3_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/e3/e3_light-webfont.woff2') format('woff2'),
         url('./assets/fonts/e3/e3_light-webfont.woff') format('woff'),
         url('./assets/fonts/e3/e3_light-webfont.ttf') format('truetype'),
         url('./assets/fonts/e3/e3_light-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'E3regular';
    src: url('./assets/fonts/e3/e3_raguler-webfont.eot');
    src: url('./assets/fonts/e3/e3_raguler-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/e3/e3_raguler-webfont.woff2') format('woff2'),
         url('./assets/fonts/e3/e3_raguler-webfont.woff') format('woff'),
         url('./assets/fonts/e3/e3_raguler-webfont.ttf') format('truetype'),
         url('./assets/fonts/e3/e3_raguler-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
