// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.


/*--------------------------------------------------------------
# breakpoints
--------------------------------------------------------------*/

$breakpoints: (phone: 568px, tablet: 768px, laptop: 980px, desktop: 1250px, hd: 2000px);


/*--------------------------------------------------------------
# Widths
--------------------------------------------------------------*/
$content_main: 1200px;
$content_small: 62em;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
// // Background
$clr__bg--main: #212124;
$clr__bg--strong: #212122;
$clr__bg--soft: #141414;

$clr__bg--input: #1E1E1E;
$clr__txt--input: #8f8f8f;

$clr__bg--input-active: #202020;
$clr__txt--input-active: #c7c7c7;

// Text
$clr__txt--main: #787676;
$clr__txt--strong: #969696;
$clr__txt--soft: #656565;

// Heilights
$clr__hlt--main: #b33108;
$clr__hlt--strong: #c23a0f;
$clr__hlt--soft: #aa2900;


// Font fam
$e3-regular-font: "E3regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$e3-light-font: "E3light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$e3-copy-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
// font-family: 'Jura', sans-serif;
